:root{
    --primaryDark: #222831;
    --secondaryDark: #393e46;
    --infoDark: #7bc74d;
    --textDark: #eeeeee;
    --shadow1Dark: #30353c;
    --shadow2Dark: #424751;

    --primaryLight: #f7f6e7;
    --secondaryLight: #e7e6e1;
    --infoLight: #f2a154;
    --textLight: #314e52;
    --shadow1Light: #c4c4bf;
    --shadow2Light: #ffffff;
    
    --shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.dark-theme{
    --primaryColor: var(--primaryDark);
    --secondaryColor: var(--secondaryDark);
    --infoColor: var(--infoDark);
    --textColor: var(--textDark);
    --shadow1Color: var(--shadow1Dark);
    --shadow2Color: var(--shadow2Dark);
}
.light-theme{
    --primaryColor: var(--primaryLight);
    --secondaryColor: var(--secondaryLight);
    --infoColor: var(--infoLight);
    --textColor: var(--textLight);
    --shadow1Color: var(--shadow1Light);
    --shadow2Color: var(--shadow2Light);
}