.loader-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryColor);
}
.loader-body {
    height: 95%;
    width: 95%;
    border-radius: 20px;
    box-shadow:  2em 2em 5em var(--shadow1Color), -2em -2em 5em var(--shadow2Color);
}