:root{
    --primaryDark: #222831;
    --secondaryDark: #393e46;
    --infoDark: #7bc74d;
    --textDark: #eeeeee;
    --primaryLight: #f7f6e7;
    --secondaryLight: #e7e6e1;
    --infoLight: #f2a154;
    --textLight: #314e52;
    --shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.dark-theme{
    --primaryColor: var(--primaryDark);
    --secondaryColor: var(--secondaryDark);
    --lightColor: var(--infoDark);
    --textColor: var(--textDark);
}
.light-theme{
    --primaryColor: var(--primaryLight);
    --secondaryColor: var(--secondaryLight);
    --lightColor: var(--infoLight);
    --textColor: var(--textLight);
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    cursor: none;
}
.main{
    display: none;
    opacity: 0;
    background-color: var(--secondaryColor);
    transition: opacity 1s ease-in, background-color 0.5s;
}
h3{
    font-size: 24px;
    font-weight: 500;
    color: var(--textColor);
    margin: 16px 0px;
    padding: 5px;
    transition: color 1s;
}
p{
    font-size: 16px;
    font-weight: 500;
}
.navbar{
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: var(--shadow);
    transition: background-color 0.5s;
}
.navbar-logo{
    margin-left: 10%;
    font-size: 24px;
    font-weight: 700;
    color: var(--textColor);
    transition: color 1s;
}
.navbar-item{
    margin-right: 10%;
    display: flex;
    align-items: center;
}
.section{
    height: auto;
    margin: 12.5% 0% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.home-title h1{
    color: var(--textColor);
    font-size: 72px;
    text-shadow: var(--shadow);
    margin: 0;
    transition: color 1s;
}
.home-title button{
    box-shadow: var(--shadow);
    background-color: var(--lightColor);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 14px 40px;
    margin-top: 15px;
    transition: background-color 0.5s;
    cursor: none;
}
.home-title button a{
    font-size: 16px;
    font-weight: bold;
    color: var(--textColor);
    text-decoration: none;
    transition: color 1s;
    cursor: none;
}
.face{
    box-shadow: var(--shadow);
    background-color: var(--lightColor);
    width:250px;
    height:250px;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.5s;
}
.eyes{
    background-color: var(--textColor);
    width:40px;
    height:40px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    transition: background-color 0.5s;
}
.left-eye{
    left: 62.5%;
}
.right-eye{
    right: 62.5%;
}
.lips{
    width: 150px;
    height: 150px;
    border: 15px solid transparent;
    border-bottom: 15px solid var(--textColor);
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: border-bottom 0.5s;
}
#about{
    width: 80%;
}
.tab {
    overflow: hidden;
}
.tab button {
    background-color: var(--secondaryColor);
    color: var(--textColor);
    float: left;
    border: none;
    border-radius: 8px 8px 0px 0px;
    cursor: none;
    padding: 14px 16px;
    transition: all 0.3s;
    font-size: 16px;
}
.tab button:hover {
    background-color: var(--lightColor);
}
.tab button.active {
    background-color: var(--primaryColor);
    transition: background-color 0.5s;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-radius: 0px 0px 8px 8px;
    border-bottom: 5px solid var(--lightColor);
    background-color: var(--primaryColor);
    color: var(--textColor);
    transition: background-color 0.5s, color 1s;
}
.skills-container{
    display: flex;
}
.skills-ul{
    margin: 0px 20px 20px 30px;
}
.skills-ul ul{
    text-align: left;
    margin: 0px;
    padding: 0px;
}
#contact{
    background-image: linear-gradient(135deg,red,orange,yellow,green,blue,indigo,violet);
}
#contactForm{
    margin: 10px 0px;
    width: 30%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.25);
    padding: 1em;
    transition: all 0.5s;
}
#contactForm h3{
    color: #fff;
    opacity: 0.7;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    text-align: center;
    transition: all 0.5s;
}
#contactForm input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: none;
}
#contactForm input[type=text]:focus, input[type=email]:focus, textarea:focus{
    background: rgba(255,255,255,0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.25);
    outline: none;
}
#contactForm input[type=submit], input[type=reset] {
    padding: 16px 30px;
    margin-bottom: 1em;
    border-radius: 6px;
    cursor: none;
}
.inputGlass{
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.25);
    color: #fff;
    transition: all 0.5s;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}
.inputGlass:hover{
    background: rgba(255,255,255,0.1) !important;
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.25);
}
footer{
    margin: 0% 10%;
    color: var(--textColor);
    text-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 1s;
}
.footer-icon a{
    font-size: 24px;
    padding: 0px 10px;
    text-decoration: none;
    color: var(--textColor);
    text-shadow: var(--shadow);
    transition: color 1s;
    cursor: none;
}
.footer-icon a:hover{
    color: var(--lightColor);
}
.tooltip{
    position: relative;
    display: inline-block;
}
.tooltip-text{
    font-size: 16px;
    font-weight:500;
    text-shadow: var(--shadow);
}
.tooltip .tooltip-text{
    visibility: hidden;
    width: 120px;
    background-color: var(--textColor);
    color: var(--primaryColor);
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 110%;
    opacity: 0;
    transition: opacity 1s, background-color 0.5s, color 1s;
}
.tooltip .tooltip-text::after{
    content: "";
    position: absolute;
    right: 100%;
    top: 40%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--textColor) transparent transparent;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}
.switch{
    display: block;
    width: 30px;
    border-radius: 50px;
    border: 1px solid var(--textColor);
    padding: 0 5px;
    box-sizing: border-box;
    cursor: none;
    box-shadow: var(--shadow);
    transition: background-color 0.5s, border 1s;
}
.switch-input{
    display: none;
}
.switch-slider{
    background-color: var(--lightColor);
    transition: all 0.5s;
    border-radius: 34px;
    height: 12px;
    width: 12px;
    display: inline-block;
}
.switch-input:checked + .switch-slider{
    transform: translateX(8px);
}
.loader{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.loading-spinner{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(255,0,0);
    animation: loading-spinner 2s linear infinite;
}
.mid-loading-spinner{
    width: 32px;
    height: 32px;
    margin: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(0,255,0);
    animation: loading-spinner 2s linear infinite;
}
.inner-loading-spinner{
    width: 16px;
    height: 16px;
    margin: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(0,0,255);
    animation: loading-spinner 2s linear infinite;
}
.neon-lights{
    font-family: 'Bad Script', cursive;
    font-weight: normal;
    color: rgb(255,255,255);
    animation: neon-lights 10s linear infinite;
}
.cursor{
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 50%;
    pointer-events: none;
    display: none;
}
#cursor1{
    border: 2px solid var(--textColor);
    transition: 0.1s;
    width: 5px;
    height: 5px;
    opacity: 0.5;
}
#cursor2{
    border: 2px solid var(--textColor);
    transition: 0.08s;
    width: 7px;
    height: 7px;
    opacity: 0.6;
}
#cursor3{
    border: 2px solid var(--textColor);
    transition: 0.06s;
    width: 9px;
    height: 9px;
    opacity: 0.7;
}
#cursor4{
    border: 2px solid var(--textColor);
    transition: 0.04s;
    width: 11px;
    height: 11px;
    opacity: 0.8;
}
#cursor5{
    border: 2px solid var(--textColor);
    transition: 0.02s;
    width: 13px;
    height: 13px;
    opacity: 0.9;
}
#cursor6{
    border: 2px solid var(--textColor);
    transition: 0.00s;
    width: 15px;
    height: 15px;
    opacity: 1;
}
@keyframes loading-spinner{
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}
@keyframes neon-lights{
    100%,0%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(255,0,0), 0 0 0.3em rgb(255,0,0), 0 0 0.4em rgb(255,0,0), 0 0 0.6em rgb(255,0,0);
    }
    14%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(255,127,0), 0 0 0.3em rgb(255,127,0), 0 0 0.4em rgb(255,127,0), 0 0 0.6em rgb(255,127,0);
    }
    28%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(255,255,0), 0 0 0.3em rgb(255,255,0), 0 0 0.4em rgb(255,255,0), 0 0 0.6em rgb(255,255,0);
    }
    42%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(0,255,0), 0 0 0.3em rgb(0,255,0), 0 0 0.4em rgb(0,255,0), 0 0 0.6em rgb(0,255,0);
    }
    56%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(0,0,255), 0 0 0.3em rgb(0,0,255), 0 0 0.4em rgb(0,0,255), 0 0 0.6em rgb(0,0,255);
    }
    70%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(75,0,130), 0 0 0.3em rgb(75,0,130), 0 0 0.4em rgb(75,0,130), 0 0 0.6em rgb(75,0,130);
    }
    84%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(148,0,211), 0 0 0.3em rgb(148,0,211), 0 0 0.4em rgb(148,0,211), 0 0 0.6em rgb(148,0,211);
    }
}