:root{
    --primaryDark: #222831;
    --secondaryDark: #393e46;
    --infoDark: #7bc74d;
    --textDark: #eeeeee;
    --primaryLight: #f7f6e7;
    --secondaryLight: #e7e6e1;
    --infoLight: #f2a154;
    --textLight: #314e52;
    --shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.dark-theme{
    --primaryColor: var(--primaryDark);
    --secondaryColor: var(--secondaryDark);
    --lightColor: var(--infoDark);
    --textColor: var(--textDark);
}
.light-theme{
    --primaryColor: var(--primaryLight);
    --secondaryColor: var(--secondaryLight);
    --lightColor: var(--infoLight);
    --textColor: var(--textLight);
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.main{
    display: none;
    opacity: 0;
    background-color: var(--secondaryColor);
    transition: opacity 1s ease-in, background-color 0.5s;
}
h3{
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid var(--textColor);
    color: var(--textColor);
    margin: 16px 0px;
    padding: 5px;
    transition: border-bottom 0.5s, color 1s;
}
p{
    font-size: 16px;
    font-weight: 500;
}
.navbar{
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: var(--shadow);
    transition: background-color 0.5s;
}
.navbar-logo{
    margin-left: 10%;
    font-size: 24px;
    font-weight: 700;
    color: var(--textColor);
    transition: color 1s;
}
.navbar-item{
    margin-right: 10%;
    display: flex;
    align-items: center;
}
.section{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.home-title h1{
    color: var(--textColor);
    font-size: 72px;
    text-shadow: var(--shadow);
    margin: 0;
    transition: color 1s;
}
.home-title button{
    box-shadow: var(--shadow);
    background-color: var(--lightColor);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 14px 40px;
    margin-top: 15px;
    transition: background-color 0.5s;
}
.home-title button a{
    font-size: 16px;
    font-weight: bold;
    color: var(--textColor);
    text-decoration: none;
    transition: color 1s;
}
.face{
    box-shadow: var(--shadow);
    background-color: var(--lightColor);
    width:250px;
    height:250px;
    border-radius: 50%;
    position: relative;
    transition: background-color 0.5s;
}
.eyes{
    background-color: var(--textColor);
    width:40px;
    height:40px;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    transition: background-color 0.5s;
}
.left-eye{
    left: 62.5%;
}
.right-eye{
    right: 62.5%;
}
.lips{
    width: 150px;
    height: 150px;
    border: 15px solid transparent;
    border-bottom: 15px solid var(--textColor);
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    transition: border-bottom 0.5s;
}
#about{
    width: 80%;
}
.about-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
}
.about-item{
    background-color: var(--primaryColor);
    color: var(--textColor);
    text-shadow: var(--shadow);
    box-shadow: var(--shadow);
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.5s, color 1s;
    padding: 10px;
}
.skills-content{
    display: flex;
    justify-content: space-around;
}
.skills-content ul{
    text-align: left;
    margin: 0px;
    padding: 0px;
}
#contact{
    width: 30%
}
#contactForm h3{
    text-align: center;
    text-shadow: var(--shadow);
}
#contactForm label{
    text-shadow: var(--shadow);
    color: var(--textColor);
    transition: color 1s;
}
#contactForm input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: var(--textColor);
    background-color: var(--primaryColor);
    box-shadow: var(--shadow);
    transition: background-color 0.5s, color 1s;
}
#contactForm input[type=text]:focus, input[type=email]:focus, textarea:focus{
    border: 1px solid var(--lightColor);
    outline: none;
}
#contactForm input[type=submit], input[type=reset] {
    background-color: var(--primaryColor);
    color: var(--textColor);
    padding: 16px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: background-color 0.5s, color 1s;
}
#contactForm input[type=submit]:hover, input[type=reset]:hover {
    background-color: var(--lightColor);
}
footer{
    margin: 0% 10%;
    color: var(--textColor);
    text-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 1s;
}
.footer-icon a{
    font-size: 24px;
    padding: 0px 10px;
    text-decoration: none;
    color: var(--textColor);
    text-shadow: var(--shadow);
    transition: color 1s;
}
.tooltip{
    position: relative;
    display: inline-block;
}
.tooltip-text{
    font-size: 16px;
    font-weight:500;
    text-shadow: var(--shadow);
}
.tooltip .tooltip-text{
    visibility: hidden;
    width: 120px;
    background-color: var(--textColor);
    color: var(--primaryColor);
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 110%;
    opacity: 0;
    transition: opacity 1s, background-color 0.5s, color 1s;
}
.tooltip .tooltip-text::after{
    content: "";
    position: absolute;
    right: 100%;
    top: 40%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--textColor) transparent transparent;
}
.tooltip:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
}
.switch{
    display: block;
    width: 30px;
    border-radius: 50px;
    border: 1px solid var(--textColor);
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--primaryColor);
    box-shadow: var(--shadow);
    transition: background-color 0.5s, border 1s;
}
.switch-input{
    display: none;
}
.switch-slider{
    background-color: var(--lightColor);
    transition: 0.5s;
    border-radius: 34px;
    height: 12px;
    width: 12px;
    display: inline-block;
}
.switch-input:checked + .switch-slider{
    transform: translateX(8px);
}
.loader{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.loading-spinner{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 6px double;
    border-color: rgb(255,0,0) rgb(255,192,192) rgb(255,0,0) rgb(255,192,192);
    animation: loading-spinner 1.5s linear infinite;
}
.mid-loading-spinner{
    width: 32px;
    height: 32px;
    margin: 2px;
    border-radius: 50%;
    border: 6px double;
    border-color: rgb(0,255,0) rgb(192,255,192) rgb(0,255,0) rgb(192,255,192);
}
.inner-loading-spinner{
    width: 16px;
    height: 16px;
    margin: 2px;
    border-radius: 50%;
    border: 6px double;
    border-color: rgb(0,0,255) rgb(192,192,255) rgb(0,0,255) rgb(192,192,255);
}
.neon-lights{
    font-family: 'Bad Script', cursive;
    font-weight: normal;
    color: rgb(255,255,255);
    animation: neon-lights 10s linear infinite;
}
@keyframes loading-spinner{
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}
@keyframes neon-lights{
    100%,0%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(255,0,0), 0 0 0.3em rgb(255,0,0), 0 0 0.4em rgb(255,0,0), 0 0 0.6em rgb(255,0,0);
    }
    14%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(255,127,0), 0 0 0.3em rgb(255,127,0), 0 0 0.4em rgb(255,127,0), 0 0 0.6em rgb(255,127,0);
    }
    28%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(255,255,0), 0 0 0.3em rgb(255,255,0), 0 0 0.4em rgb(255,255,0), 0 0 0.6em rgb(255,255,0);
    }
    42%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(0,255,0), 0 0 0.3em rgb(0,255,0), 0 0 0.4em rgb(0,255,0), 0 0 0.6em rgb(0,255,0);
    }
    56%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(0,0,255), 0 0 0.3em rgb(0,0,255), 0 0 0.4em rgb(0,0,255), 0 0 0.6em rgb(0,0,255);
    }
    70%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(75,0,130), 0 0 0.3em rgb(75,0,130), 0 0 0.4em rgb(75,0,130), 0 0 0.6em rgb(75,0,130);
    }
    84%{
        text-shadow: 0 0 0.1em rgb(255,255,255), 0 0 0.2em rgb(148,0,211), 0 0 0.3em rgb(148,0,211), 0 0 0.4em rgb(148,0,211), 0 0 0.6em rgb(148,0,211);
    }
}